<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Category</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < category.length; i++) { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= category[i].name %></td>
        <td>
          <img src="https://cf.shopee.co.id/file/<%= category[i].filenameImage %>" style="width: 100px; height: 100px;">
        </td>
        <td>
          <a href="/category/edit/<%= category[i]._id %>" class="btn btn-info btn-sm mb-1">
            <i class="fas fa-pencil-alt"></i>
            &nbsp;Edit
          </a>
          <form action="/category/delete/<%= category[i]._id %>?_method=DELETE" method="POST" style="display: inline-block;">
            <button class="btn btn-danger btn-sm mb-1">
              <i class="fas fa-trash"></i>
              &nbsp;Delete
            </button>
          </form>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>